{% load wagtailcore_tags menu_tags %}
{% get_site_root as site_root %}

<nav id="menu">

    <header class="major">
        <h2>Menu</h2>
    </header>

    <a href="{% pageurl site_root %}" class="icon fa-home fa-2x"></a>

    <ul>
        <li></li>
        {% for menuitem in menuitems %}
            {% if menuitem.show_dropdown %}
                <li>
                    <span class="opener">{{ menuitem.title }}</span>
                    {%  page_menu_children menuitem %}
                </li>
            {% else %}
                 <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

</nav>
