{% load wagtailcore_tags wagtailimages_tags %}

<section id="banner">
    <div class="content">
        <header>
            <h1>{{ banner.heading }}<br/> {{ banner.heading_line2 }}</h1>
            <p>{{ banner.abstract }}</p>
        </header>
        <p>{{ banner.content|richtext }}</p>
        <ul class="actions">
            <li><a href="#" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        {% image banner.image max-1024x682 %}
    </span>
</section>
