{%  extends "editorial/editorial-content.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags social_media_link_tags action_button header_content %}


{% block main-content %}

    {%  if page.banner_display %}
    <section id="banner">
    <div class="content">
        <header>
            <h1>{{ page.banner_heading }}<br/> {{ page.banner_heading_line2 }}</h1>
            <p>{{ page.banner_abstract }}</p>
        </header>
        <p>{{ page.banner_text|richtext }}</p>

        {% action_button page.banner_button %}

    </div>
    <span class="image object">
        {% image page.banner_image max-1024x682 %}
    </span>
    </section>
    {%  endif %}

    {%  if page.feature_display %}
    <section>
        <header class="major">
            <h2>{{ page.feature_heading }}</h2>
        </header>
        <div class="features">
        {%  for article in page.feature_articles.all %}
            <article>
                <span class="icon {{ article.icon }}"></span>
                <div class="content">
                    <h3>{{ article.heading }}</h3>
                    <p>{{ article.text|richtext }}</p>
                    {% action_button article.button %}
                </div>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}

    {%  if page.post_display %}
    <section>
        <header class="major">
            <h2>{{ page.post_heading }}</h2>
        </header>
        <div class="posts">
        {%  for article in page.post_articles.all %}
            <article>
                <a href="#" class="image">{% image article.image max-400x400 %}</a>
                <h3>{{ article.heading }}</h3>
                <p>{{ article.text|richtext }}</p>
                {% action_button article.button %}
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}

    {%  if page.generic_display %}
        <section>
        <header class="main">
            <h1>{{ page.generic_headline }}</h1>
        </header>
        {% for block in page.generic_content %}
            {% include_block block %}
        {% endfor %}
        </section>
    {% endif %}

{% endblock %}



