{% extends "djangocms_blog_page.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}


{% block meta %}
    {%  if meta %}
        {% include "meta_mixin/meta.html" %}
    {% endif %}
{% endblock meta %}

{% block content %}

<!-- Header -->

<div id="wrapper">



<header id="header">
	<h1><a href="http://inchi-resolver.org">inchi-resolver.org</a></h1>
	<nav class="main">
		<ul>
			<li class="menu"><a class="fa-bars" href="#menu">Menu</a></li>
		</ul>
	</nav>
</header>

{% block blog_main %}{% endblock %}

<section id="sidebar">
	
	<!-- Intro -->
	<section id="intro">
		<!--<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>-->
			<header>
			<h2>Blog</h2>
			<p><a href="/blog">inchi-resolver.org/blog</a></p>
			</header>
	</section>
	
	
	
	{% placeholder blog_sidebar %}
	
	
</section>

</div>
</div>

{% addtoblock "css" %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="{% static "future-imperfect/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{% static "future-imperfect/css/main.css" %}" />
<link rel="stylesheet" href="{% static "jstree/css/default/style.css" %}"/>
<link rel="stylesheet" href="{% static "jstree/css/proton/style.css" %}"/>

<!--[if lte IE 8]><link rel="stylesheet" href="{% static "future-imperfect/css/ie8.css" %}" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="{% static "future-imperfect/css/ie9.css" %}" /><![endif]-->
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "future-imperfect/js/jquery.min.js" %}"></script>
<script src="{% static "future-imperfect/js/skel.min.js" %}"></script>
<script src="{% static "future-imperfect/js/util.js" %}"></script>
<!--[if lte IE 8]><script src="{% static "future-imperfect/js/ie/respond.min.js" %}"></script><![endif]-->
<script src="{% static "future-imperfect/js/main.js" %}"></script>
<script src="{% static "jstree/js/jstree.js" %}"></script>
<script src="{% static "jstree/js/jstree.state.js" %}"></script>
<script>
$( document ).ready(function () { $('#jstree-frame').jstree(
	{
		core : {
			themes : {"name": "proton"},
		},
		state : { "key" : "page-tree" },
		plugins : ["state"]
	}).on('state_ready.jstree', function() {
		 console.log( "jstree state_ready" );
        $('#jstree-frame').on('select_node.jstree', function(e, data) {
            document.location = data.instance.get_node(data.node, true).children('a').attr('href');
        });
    });
    console.log( "jstree loaded" );
});
</script>
{% endaddtoblock %}
{% endblock content %}
