{% extends "djangocms_blog/base.html" %}
{% load i18n thumbnail cms_tags menu_tags %}{% spaceless %}

{% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block blog_main %}
<div id="main">
    {% block blog_title %}
    
    <header>
        <h2>
        {% if author %}{% trans "Articles by" %} {{ author.get_full_name }}
        {% elif archive_date %}{% trans "Archive" %} &ndash; {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
        {% elif tagged_entries %}{% trans "Tag" %} &ndash; {{ tagged_entries|capfirst }}
        {% elif category %}{% trans "Category" %} &ndash; {{ category }}{% endif %}
        </h2>
    </header>

    {% endblock %}
    {% for post in post_list %}
        {% include "djangocms_blog/includes/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
    {% empty %}
    <p class="blog-empty">{% trans "No article found." %}</p>
    {% endfor %}
    {% if author or archive_date or tagged_entries %}
    <p class="blog-back"><a href="{% url 'djangocms_blog:posts-latest' %}">{% trans "Back" %}</a></p>
    {% endif %}
    {% if is_paginated %}
    <ul class="actions pagination">
    	{% if page_obj.has_previous %}
            <li class="button big previous"><a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">Previous Page</a></li>
        {% else %}
        	<li class="disabled button big previous"><a href="">Previous Page</a></li>
        {% endif %}
        <li class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
        </li>
        {% if page_obj.has_next %}
            <li class="button big next"><a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">Next Page</a></li>
         {% else %}
        	 <li class="disabled button big next"><a href="">Next Page</a></li>
        {% endif %}
	</ul>
    {% endif %}
    
 </div>
	

{% endblock %}
{% endspaceless %}

