{% load wagtailcore_tags wagtailimages_tags static %}

{% comment %}
<a class="blog-post-link" href="{% pageurl blog %}">
    <h2>{{ blog.title }}</h2>
</a>
{%  endcomment %}

<a class="blog-post-link" href="{% pageurl blog %}">
    <h2>{{ blog.title }}</h2>
</a>



{% if include_context == "index_page" %}
<div class="row">

    {% if blog.header_image %}
    <div class="4u 6u(medium) 12u$(small)">
        {% image blog.header_image max-480x200 as blog_image %}
        <a class="image fit" href="{% pageurl blog %}">
        <span><img src="{{ blog_image.url }}" alt="" /></span>
        </a>
    </div>
        <div class="8u 6u(medium) 12u$(small)">
    {% else %}
        <div class="12u$">
    {% endif %}


        {% include "blog/blog_meta.html" %}
        {{ blog.body|richtext|truncatewords_html:100 }}
        <a href="{% pageurl blog %}">Read the rest of this entry &raquo;</a>
    </div>

</div>
{% else %}
    {% image blog.header_image fill-1900x500 as blog_image %}
    <span class="image fit"><img src="{{ blog_image.url }}" alt="" /></span>
    {% include "blog/blog_meta.html" %}
    <div>
        {{ blog.body|richtext }}
    </div>
{% endif %}

{% comment %}
<div class="share">
    <span class="st_linkedin_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="LinkedIn"></span>
    <span class="st_twitter_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Tweet"></span>
    <span class="st_facebook_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Facebook"></span>
    <span class="st_plusone_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Google +1"></span>
    <span class="st_email_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Email"></span>
    <span class="st_sharethis_large" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="ShareThis"></span>
</div>
{% endcomment %}

<div class="meta">
    <div class="tags">
        {% if blog.tags.all %}
            Tags: 
                {% for tag in blog.tags.all %}
                    <a href="{% url 'blog:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="tags-and-comments">
        {% if blog.categories.all %}
            Posted in 
                {% for cat in blog.categories.all %}
                    <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %} | 
        {% endif %}

        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'blog/blog_post_comments_xtd_link.html' with blog=blog %}
        {% elif False %}
            <a href="{% pageurl blog %}#disqus_thread">No Comments</a>
        {% endif %}
        </div>
    </div>
</div>
