{% load wagtailcore_tags wagtailimages_tags static %}

<a class="blog-post-link" title="Open post '{{ blog.title }}'" href="{% pageurl blog %}">
    <h2>{{ blog.title }}</h2>
</a>

{% if include_context == "index_page" %}
<div class="row">

    {% if blog.header_image %}
    <div class="4u 6u(medium) 12u$(small)">
        {% image blog.header_image max-480x200 as blog_image %}
        <a class="image fit" href="{% pageurl blog %}">
        <span><img src="{{ blog_image.url }}" alt="" /></span>
        </a>
    </div>
        <div class="8u 6u(medium) 12u$(small)">
    {% else %}
        <div class="12u$">
    {% endif %}
        {% include "blog/blog_post_meta_top.html" %}
        {{ blog.body|richtext|truncatewords_html:100 }}
        <div class="more-link"><a href="{% pageurl blog %}">Read the rest of this entry &raquo;</a></div>
    </div>
    {% include "blog/blog_post_meta_bottom.html" %}

</div>
{% else %}
    {% image blog.header_image fill-1920x640 as blog_image %}
    <span class="image fit"><img src="{{ blog_image.url }}" alt="" /></span>
    {% include "blog/blog_post_meta_top.html" %}
    <div>
        {{ blog.body|richtext }}
    </div>
    {% include "blog/blog_post_meta_bottom.html" %}
{% endif %}



