{%  extends "editorial/editorial-content.html" %}
{% load wagtailcore_tags header_content %}


{% block main-content %}

    <section>
        <header class="main">
            <h1>Blog Roll</h1>
        </header>
        <div class="content">

        {% include 'blog/blog_post.html' with blog=self %}
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'blog/blog_post_comments_xtd.html' with blog=self %}
        {% endif %}

        </div>

    </section>

{% endblock %}
