{%  extends "editorial/editorial-content.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags social_media_link_tags action_button header_content %}

{% block main-content %}

    <section>
        <header class="main">
            <a href="{% pageurl page %}"><h1>{{ heading }}</h1></a>
        </header>

        <div class="content">
         {% if category or tag %}
            {% if category %}
                <div id="tag-category-headline">Posts in category '<b>{{ category }}</b>'</div>
            {% endif %}
            {% if tag %}
                <div id="tag-category-headline">Posts tagged with '<b>{{ tag }}</b>'</div>
            {% endif %}
        {% else %}
            <div id="tag-category-headline">Posts</div>
        {% endif %}

        {%  comment %}
        {% for rl in self.related_links.all %}
            <p>{{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a></p>
        {% endfor %}
        {%  endcomment %}

        {% if blogs %}
            <!--<ul class="list-unstyled the-loop">-->
            {% for blog in blogs %}
                <article class="blog-post-item{% if forloop.first and not category and not tag %} first-reset{% endif %}">
                <div class="content">
                    {% include 'blog/blog_post.html' with include_context="index_page" %}
                </div>
                <hr />
                </article>
            {% endfor %}
        <!--</ul>-->

            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&larr; Older</a>
            {% endif %}
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Newer &rarr;</a>
            {% endif %}

    {% else %}
        <p>There are currently no blog posts</p>
    {% endif %}

     </div>
    </section>

{% endblock %}

