{% load wagtailcore_tags wagtailimages_tags static %}

{% if blog.date %}
    <div class="blog-post meta date">
        Posted by <span>{{ blog.author }}</span> on <span>{{ blog.date|date:"F jS, Y" }}</span>

    {% if blog.categories.all %}
            in
                {% for cat in blog.categories.all %}
                    <span><a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a></span>
                    {% if not forloop.last %}, {% endif %}
                    {% if not forloop.first and not forloop.last %} and {% endif %}
                {% endfor %}
        {% endif %}
    </div>
{% endif %}