{%  extends "editorial/editorial-content.html" %}
{% load wagtailcore_tags header_content %}


{% block main-content %}

    <section>
        <header class="main">
            <a href="{% pageurl index %}"><h1>{{ heading }}</h1></header></a>
        </header>

        <div id="tag-category-headline">Post</div>

        <div class="content">
        {% include 'blog/blog_post.html' with blog=self %}
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'blog/blog_post_comments_xtd.html' with blog=self %}
        {% endif %}
        </div>

    </section>

{% endblock %}
